#foo {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    animation-name: exercice3;
    animation-duration: 4s;
}

@keyframes exercice3 {
    0% {
        background-color: red;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: yellow;
    }

    100% {
        background-color: red;
    }
}
